<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>264760962473-ak7o33qvud7sovkc2misggp9t3ll8ebr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264760962473-ak7o33qvud7sovkc2misggp9t3ll8ebr</string>
	<key>API_KEY</key>
	<string>AIzaSyA8sscphp1PCFoQQpvgcZxcpBX6Q7KSQb0</string>
	<key>GCM_SENDER_ID</key>
	<string>264760962473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ryan.TwitterSwiftUIClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-b112d</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-b112d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264760962473:ios:cbf59f4e193c15e1b3e8b8</string>
</dict>
</plist>